<a href="https://colab.research.google.com/github/chanseongparkk/2022_Data_Analysis_Intern_practice/blob/main/07_13_03_T%EA%B2%80%EC%A0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1. 일표본 t검정

* 아이리포 중학교 1학년의 평균 키는 175cm로 알려져 있다. 실제로도 그러한지 알아보기 위해 학생 14명을 임의로 뽑아서 키를 측정하였다. 해당 데이터를 가지고 아이리포 중학교 1학년 학생의 평균 키는 175cm와 같다고 할 수 있는지 검정해보자

* H0 : 아이리포 중학교 1학년의 평균 키는 175cm이다.
* H1 : 아이리포 중학교 1학년의 평균 키는 175cm가 아니다.

In [ ]:
# 패키지 임포트
import pandas as pd
import numpy as np
from scipy import stats
import math

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline


# os에 따른 font 깨짐 제거를 위해 font 지정

import os

if os.name == "nt":
    font_family = "Malgun Gothic"
else: #mac os
    font_family = "AppleGothic"
    
# - 값이 깨지는 문제 해결을 위해 파라미터값 설정

sns.set(font = font_family, rc = {"axes.unicode_minus" : False})

import warnings
warnings.filterwarnings("ignore")

In [ ]:
# 모집단 데이터

data = [177.3, 182.7, 169.6, 160, 180.3, 179.4, 178.5, 177.2, 181.8, 176.5, 190, 185, 167, 171]
data

[177.3,
 182.7,
 169.6,
 160,
 180.3,
 179.4,
 178.5,
 177.2,
 181.8,
 176.5,
 190,
 185,
 167,
 171]

In [ ]:
### 정규성검정(shapiro test)

stats.shapiro(data)

# p-value 0.79로 유의수준 0.05보다 크므로 정규분포를 따른다는 귀무가설을 채택한다.

ShapiroResult(statistic=0.9641273021697998, pvalue=0.7900116443634033)

In [ ]:
### stats.ttest_1samp 사용

# 유의수준 0.05

m_a = 0.05

# 알려진 평균 확인

s_mu = 175
one_sample_result = stats.ttest_1samp(data, popmean = s_mu)

print('t-통계량 = %.3f, pvalue = %.3f'%(one_sample_result))

t-통계량 = 0.903, pvalue = 0.383

In [ ]:
### 검정통계량 직접 계산

# 표본 수

n = len(data)
print(n)
hyp_mu = np.mean(data)
print(hyp_mu)

# 알려진 평균

s_mu = 175

# 표본표준편차

s_sigma = np.std(data, ddof = 1)
print(s_sigma)

# 통계량 t값 계산

t_value = (hyp_mu - s_mu) / (s_sigma / np.sqrt(n))

print('t검정통계량 : ', round(t_value, 3))

# p-value 계산

print('p-value : ', round((1 - stats.t(df = 13).cdf(t_value))*2, 3))

14
176.87857142857143
7.782443611837389
t검정통계량 :  0.903
p-value :  0.383

In [ ]:
## 기각값
# 유의수준 0.05

print('유의수준:', m_a)

# 기각역

t_95 = stats.t.ppf(1 - (1 - 0.95) / 2, df = n - 1)

print('기각역 : ', t_95 )

# 검정통계량 검정: 0.903은 채택역에 속함(기각역 2.16)
# p-value 검정: p-value는 0.383으로 유의수준 5% 이내에서 귀무가설을 채택한다.
# 아이리포 중학교 1학년의 평균 키는 175cm이다.

유의수준: 0.05
기각역 :  2.1603686564610127

### 2. 대응표본 t검정

* 10명의 환자를 대상으로 비타민을 복용하기 전과 후의 수면시간을 측정하여 비타민의 효과가 있는지를 판단하고자 한다. 표본이 정규성을 만족한다는 가정 하에 수면시간이 줄어들었는지 검정(유의수준 5%)
* H0 : 복용 전과 후의 수면시간에 차이가 없다.
* H1 : 복용 전에 비해 복용 후의 수면시간이 줄어들었다.

In [ ]:
before_data = [7, 3, 4, 5, 2, 1, 6, 6, 5, 4]
after_data = [8, 4, 5, 6, 2, 3, 6, 8, 6, 5]

check = ["before", "after"]

# 데이터프레임 merge
check = [check[j] for j in range(2) for i in range(10)]

data = pd.DataFrame({"when" : check,
                     "score" : before_data+after_data})

In [ ]:
data.head()

     when  score
0  before      7
1  before      3
2  before      4
3  before      5
4  before      2

In [ ]:
# 정규성 검정
from scipy.stats import shapiro

normal_before = shapiro(before_data)
normal_after = shapiro(after_data)

print(normal_before)
print(normal_after)

#p-value 모두 0.05가 넘기 때문에 정규성을 만족한다는 귀무가설 채택.

ShapiroResult(statistic=0.9644595384597778, pvalue=0.8352707624435425)
ShapiroResult(statistic=0.9456837177276611, pvalue=0.6177994012832642)

In [ ]:
# 등분산성 검정 : 모든 집단의 모분산은 동일함
from scipy.stats import levene
print(levene(before_data, after_data))

from scipy.stats import bartlett
print(bartlett(before_data, after_data))

# p-value가 0.05보다 커서 등분산을 만족한다는 귀무가설 채택

LeveneResult(statistic=0.0, pvalue=1.0)
BartlettResult(statistic=0.007785808167159078, pvalue=0.9296881301038368)

In [ ]:
# 대응표본 t검정 수행

paired_result = stats.ttest_rel(before_data, after_data)

print('t-검정통계량 = %.3f, pvalue = %.3f'%paired_result)

t-검정통계량 = -4.743, pvalue = 0.001

### 3. 독립표본  t검정

* 서울과 구미 두 지역의 겨울 낮 최고기온에 차이가 있는지를 알아보기 위해 12일간 두 지역의 낮 최고기온을 측정한 데이터로 독립표본 t검정을 수행해보자(표본이 정규성을 만족한다는 가정, 양측검정 수행)

* H0: 두 지역에 따른 겨울 낮 최고기온에 차이가 없다.
* H1: 두 지역에 따른 겨울 낮 최고기온에 차이가 있다.

In [ ]:
# 데이터프레임

seoul = [-1, 0, 3, 4, 1, 3, 3, 1, 1, 3, 2, 4]
daegu = [6, 6, 8, 8, 11, 11, 10 ,8, 8, 9, 7, 10]
region = ["seoul"] * 12 + ["daegu"] * 12
data = pd.DataFrame({"region" : region,
                     "temp" : seoul + daegu})

data.head()

  region  temp
0  seoul    -1
1  seoul     0
2  seoul     3
3  seoul     4
4  seoul     1

In [ ]:
## 정규성 검정

normal_seoul = shapiro(seoul)
normal_daegu = shapiro(daegu)
print(normal_seoul)
print(normal_daegu)

# p-value > 0.05, 정규성 만족 귀무가설 채택

ShapiroResult(statistic=0.9178414940834045, pvalue=0.2685382068157196)
ShapiroResult(statistic=0.9212772846221924, pvalue=0.2966691553592682)

In [ ]:
## 등분산성 검정

# 등분산성 검정 : 모든 집단의 모분산은 동일함
print(levene(seoul, daegu))

print(bartlett(seoul, daegu))

# p-value> 0.05, 등분산을 만족한다는 귀무가설 채택

LeveneResult(statistic=0.0, pvalue=1.0)
BartlettResult(statistic=0.07093015354702552, pvalue=0.7899872613272646)

In [ ]:
### 독립표본 t검정

ttest_result = stats.ttest_ind(seoul, daegu, equal_var = True) #등분산성 만족
# ttest_result = stats.ttest_ind(seoul, daegu, equal_var = False) #등분산성 비만족

print('t검정통계량: %.3f, pvalue = %.15f'%ttest_result)


# 검정통계량 -9.562, p-value 0.000000003
# 유의수준 5% 이내에서 p-value 0.000000003으로 두 지역에 따른 겨울 낮 기온에 차이가 없다는 귀무가설 기각
# 두 지역에 따른 겨울 낮 기온에 통계적으로 유의미한 차이가 있다.

t검정통계량: -9.562, pvalue = 0.000000002711180